---
const currentYear = new Date().getFullYear();
---

<footer class="py-6 text-center text-text-dark font-sans bg-gray-100">
  <p>&copy; {currentYear} Wijnbladhs Consulting. All rights reserved.</p>
</footer>
